<!DOCTYPE html>
{% load static %}
{% block content %}
    <h5 class="card-title">메인 페이지</h5>

        {{lat}}

        {{lon}}    

    <a href="{% url 'our_weather:detail' %}" class="btn btn-primary">>> 자세히</a>          
{% endblock %}


<html>
<head>
    <meta charset="utf-8">
    <title>our_gps</title>

</head>
<body>
    <p style="margin-top:-12px">
        <b>Chrome 브라우저는 https 환경에서만 geolocation을 지원합니다.</b> 참고해주세요.
        
    </p>
    <div id="map" style="width:100%;height:350px;"></div>

    <form name="locationForm" id="location" action="/our_weather/" method="get" >
        <div>
            <label for="lat"></label>
            <input type="text" name="lat" id="lat" class="lat" />
        </div>
        <div>
            <label for="lon"></label>
            <input type="text" name="lon" id="lon" class="lon" />
        </div>
        <!-- <input type="hidden" name="submit_chk"> -->
        <!-- <input type="submit" /> -->
        
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13cf5f81e7b50b54654a5493e3e67703"></script>
<script>
    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
    if (navigator.geolocation) {

        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {                

            lat = position.coords.latitude;
            lon = position.coords.longitude;

            // <input> tag에 값을 넣음
            $('input[name=lat]').attr('value',lat);
            $('input[name=lon]').attr('value',lon);

            document.locationForm.submit();
        });


    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할수 없어요..'
    }
    
</script>


</html>